/app/tmp/cache/models/*
!/app/tmp/cache/models/empty
/app/tmp/cache/persistent/*
!/app/tmp/cache/persistent/empty
/app/tmp/cache/views/*
!/app/tmp/cache/views/empty
/app/tmp/cache/sessions/*
/app/tmp/cache/tests/*
/app/tmp/logs/*
!/app/tmp/logs/empty
/app/Config/database.php
/lib/Cake/Console/Templates/skel/tmp/
/app/webroot/img/imagecache/*
/app/webroot/files/*
/app/webroot/css/combined.*
/app/webroot/js/combined.*
/app/webroot/img/file/name/*
/app/webroot/media/*
.DS_Store